# Monitoring Fire Suppression Verification Mission

<table>
  <tr>
    <th> Title </th>
    <th> Description </th>
  </tr>
  <tr>
    <td> Brief Description </td>
    <td>
      Use case of a mission in progress for the purpose of verifying if a fire has already been extinguished.
    </td>
  </tr>
  <tr>
    <td> Actors </td>
    <td>
      <ul>
          <li>System</li>
          <li>User</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td> Pre-Conditions </td>
    <td>
      <ul>
          <li>The fire department personnel must have responded to the fire incident and completed the firefighting activities</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td> Basic Flow </td>
    <td>
      <ol>
          <li>Once the fire is extinguished, the fire department personnel visually inspects the area to verify that there are no visible flames or hot spots.</li>
          <li>If the area is clear and there are no signs of re-ignition, the fire department personnel reports the fire as extinguished</li>
          <li>Mission ends</li>
      </ol>
    </td>
  </tr>
  <tr>
    <td> Alternate/Exception Flows </td>
    <td>
      2b. <ol type="I">
        <li>If the fire department personnel finds any visible flames or hot spots during the mission, they immediately report back and continue to suppress the fire until it is fully extinguished</li>
        <li>Continue at step 3</li>
      </ol>
    </td>
  <tr>
    <td> Post Conditions </td>
    <td>
        None
    <td>
  </tr>
  <tr>
    <td>Supplemental Requirements</td>
    <td>None</td>
  </tr>
<table>
